torch
torchaudio
transformers
openai-whisper
librosa
soundfile
numpy<2.0.0
scipy
ffmpeg-python
deep-translator
pydub
demucs>=4.0.0
gradio_client
huggingface_hub[hf_xet]
python-dotenv
shutil-backports
pyannote.audio<3.1
# For emotion analysis
chatterbox-tts
openai
TTS
# Wav2Lip Dependencies
opencv-python
gdown
tqdm
resampy
# RVC Dependencies
faiss-cpu
torchcrepe
praat-parselmouth
git+https://github.com/facebookresearch/fairseq.git
noisereduce
diffq
moviepy<2.0.0
requests
gradio

